<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847902402940-078onfnm94h7kh64grehhnuvnleri8ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847902402940-078onfnm94h7kh64grehhnuvnleri8ee</string>
	<key>API_KEY</key>
	<string>AIzaSyBoqwBFFi5WpkMRcvKt0V8xCgy1MV9dgtA</string>
	<key>GCM_SENDER_ID</key>
	<string>847902402940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.archineer.aamanagement</string>
	<key>PROJECT_ID</key>
	<string>fb-aa-hr</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-aa-hr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847902402940:ios:4089dd81448e5520e4dcf9</string>
	<key>DATABASE_URL</key>
	<string>https://fb-aa-hr.firebaseio.com</string>
</dict>
</plist>